{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
    <div class='box'>     
        <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
            

            <h1 class="titulo font-degrade borda-bottom-degrade">RECUPERAR SENHA</h1>
            <br>
            {{form}}
            <input type="submit" value="Recuperar" class="btn btn-success btn-lg">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}


        </form>
    </div>
{% endblock %}