{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
    <div class='box'>

        <form action="" method="POST">{%csrf_token%}
            <h1 class="titulo font-degrade borda-bottom-degrade">NOVA SENHA</h1>
            
            {{form}}

            <input type="submit" value="enviar" class="btn btn-success btn-lg">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}


        </form>
    </div>
{% endblock %}